extends layout

block content
    nav(class = "navbar navbar-dark fixed-top bg-dark")
        a(href = "/" class = "text-decoration-none")
            h2(class = "text-white") Message Board
        a(href = "/new" class = "text-white")
            h5(class = "text-white") New